{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block 'extra_head' %}
    <script>
        const API_URL = "{% url 'api:accesslog-list' %}"
        const API_XLSX_URL = "{% url 'api:accesslogxlsx-list' %}"
    </script>
    <script src="{% static 'js/test_app/app.js' %}"></script>
{% endblock 'extra_head' %}



{% block 'content' %}
<div id="app">
    <form @submit="formFilterSend($event)" id="filter_form" class="form-inline" method="get">
        <div class="input-group-prepend">
            <div class="input-group-text">{% trans 'IP' %}</div>
        </div>
        {{ filter.form.ip|add_class:"form-control" }}
        <div class="input-group-prepend">
            <div class="input-group-text">{% trans 'Method' %}</div>
        </div>
        {{ filter.form.method|add_class:"form-control" }}
        <div class="input-group-prepend">
            <div class="input-group-text">{% trans 'URI' %}</div>
        </div>
        {{ filter.form.uri|add_class:"form-control" }}
        <div class="input-group-prepend">
            <div class="input-group-text">{% trans 'Code' %}</div>
        </div>
        {{ filter.form.code|add_class:"form-control" }}
        <button type="submit" class="btn btn-primary">{% trans 'Apply' %}</button>
    </form>
    <ul class="pagination">
        <li v-for="item in pageRange" class="page-item" :class="{ active: item == page}">
            <span v-on:click="page = item; update()" class="page-link">[[ item ]]</span>
        </li>
    </ul>
    <button @click="downloadXLSX" type="button" class="btn btn-secondary">{% trans 'Download XLSX' %}</button>
    <h3>{% trans 'Access Log' %}</h3>
    <div v-if="loading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <table v-else class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>{% trans 'IP' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Method' %}</th>
                <th>{% trans 'URI' %}</th>
                <th>{% trans 'Protocol' %}</th>
                <th>{% trans 'Code' %}</th>
                <th>{% trans 'Length' %}</th>
                <th>{% trans 'URL' %}</th>
                <th>{% trans 'Browser' %}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="log in logs">
                <td>[[ log.ip ]]</td>
                <td>[[ log.date ]]</td>
                <td>[[ log.method ]]</td>
                <td>[[ log.uri ]]</td>
                <td>[[ log.protocol ]]</td>
                <td>[[ log.code ]]</td>
                <td>[[ log.length ]]</td>
                <td>[[ log.url ]]</td>
                <td>[[ log.browser ]]</td>
            </tr>
        </tbody>
    </table>
    <h3>{% trans 'Top IP' %}</h3>
    <div v-if="loading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <table v-else class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>{% trans 'IP' %}</th>
                <th>{% trans 'Count' %}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="ip in IPTopTen">
                <td>[[ ip.ip ]]</td>
                <td>[[ ip.ip_count ]]</td>
            </tr>
        </tbody>
    </table>
    <h3>{% trans 'Number of methods' %}</h3>
    <div v-if="loading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <table v-else class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>{% trans 'Method' %}</th>
                <th>{% trans 'Count' %}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="method in uniqueMethodsLength">
                <td>[[ method.method ]]</td>
                <td>[[ method.method_count ]]</td>
            </tr>
        </tbody>
    </table>
    <h3>{% trans 'Meta' %}</h3>
    <div v-if="loading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <dl v-else class="row">
        <dt class="col-sm-3">{% trans 'Responces Length' %}</dt>
        <dd class="col-sm-9">[[ responcesLength ]]</dd>
        <dt class="col-sm-3">{% trans 'Unique IP Count' %}</dt>
        <dd class="col-sm-9">[[ uniqueIPCount ]]</dd>
    </dl>
</div>
{% endblock 'content' %}
